{% extends 'base.html.twig' %}

{% block body %}

    <h1 style="text-align: center; margin-top: 10px;">Formulaire d'ajout d'article</h1>
    <div class="well" style="width: 70%;margin: auto;text-align: center;margin-top: 50px;">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div>
            <div class="form-group row">
                {{ form_label(form.title, "Titre :", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                <div class="col-10">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                <div class="col-10">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.date_parution, "Date :", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                <div class="col-10">
                    {{ form_widget(form.date_parution)}}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.actif, "Actif :", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                <div class="col-10">
                    {{ form_widget(form.actif, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.category, "Category :", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                <div class="col-10">
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>

        {{ form_end(form) }}

{% endblock %}
